html
    head
        title= _title
    body
        h1 
            u Hello Jade!
        ul
            -for(var i = 1; i <= 25; i++)
                li coding
                    u=  i
        div= time