doctype html
html
    head
        meta(charset='utf-8')
        title=_title
    body
        h1(style="text-align:center") Complete?
        
        div(style="text-align:center; margin-top:5%")
            p
                h3 ID를 입력하세요.
                input(type="text" name="id")

            p(style="margin-top:3%")
                h3 Password를 입력하세요.
                input(type="password" name="password")
            p(style="margin-top:3%")
                input(type="submit" value="로그인" style="background-color:white")

        div(style="margin-top:5%")
            a(href="/signup") 
                h4(style="text-align:center") 회원가입