doctype html
html
    head
        meta(charset="utf-8")
        title Error
    body
        div(style="text-align:center")
            h1(style="text-shadow:1px 1px red") Error!
                hr
            
            h3 다음과 같은 이유로 오류가 발생했습니다.
            p(style="margin-top:10%")
                h3(style="color:#bdbdbd")= error
            
            p(style="margin-top:10%")
                h4
                    a(href= back) Back